
.c-btn,
.c-bnr,
.c-txt {
  cursor: pointer;
  transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
}

.c-btn {
  background: #ff701e;
  border: 2px solid #ff701e;
  border-radius: 60px;
  color: #fff;
  display: block;
  font-weight: bold;
  max-width: 300px;
  padding: 15px 40px;
  text-align: center;
}

.c-bnr {
  background: url(../img/btn-bnr.jpg)no-repeat center center / cover;
  display: inline-block;
  width: 240px;
  height: 240px;
}

.c-txt {
  color: #ff701e;
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.06em;
}
